{% extends "base/base.html" %}

{% block title %}
<title>flask_in_docker - Login</title>
{% endblock  %}

{% block head %}
    {{ super() }}
{% endblock  %}

{% block navbar %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for("index.index") }}">
      <img src="{{ url_for('static', filename='img/112x28.png') }}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href={{ url_for("index.index") }}>
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>トップ</span>
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href={{ url_for("auth.register") }}>
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-user-plus"></i>
          </span>
          <span>ユーザー登録</span>
        </span>
      </a>
      <a class="navbar-item" href={{ url_for("auth.login") }}>
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-arrow-right"></i>
          </span>
          <span>ログイン</span>
        </span>
      </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div id="pageloader" class="pageloader" style="background-color: rgba(0, 0, 0, 0.8)"><span class="title">Loading...</span></div>

<div class="hero is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <div class="box">
          <img src="{{ url_for('static', filename='img/320x320.png') }}">

          <form action="{{ url_for("auth.login") }}" method="POST" id="login_form" name="login_form">
            {{ form.csrf_token }}
            <div class="field">
              <label class="label has-text-left">Email</label>
              <div class="control has-icons-left">
                {{ form.email(class_="input", placeholder="Email input", required=False) }}
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            {% if form.errors["email"] %}
              <div class="notification is-warning is-light">
                {{ form.errors['email'][0] }}
              </div>
            {% endif %}
            <div class="field">
              <label class="label has-text-left">Password</label>
              <div class="control has-icons-left">
                {{ form.password(class_="input", type="password", placeholder="Password input", value="", required=False) }}
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            {% if form.errors["password"] %}
              <div class="notification is-warning is-light">
                {{ form.errors['password'][0] }}
              </div>
            {% endif %}
            <div class="field has-text-left">
              <p class="control">
                {{ form.submit(class_="button has-background-link-dark has-text-white-bis", type="submit", form="login_form", onclick="javascript:document.getElementById('pageloader').classList.add('is-active');", value="ログイン") }}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {% if get_flashed_messages() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == "success" %}
        <script>
          bulmaToast.toast({ message: "{{ message }}", type: 'is-link', position: "top-right", duration: 5000, closeOnClick: true, pauseOnHover: true, dismissible: true});
        </script>
      {% endif %}
      {% if category == "failure" %}
        <script>
          bulmaToast.toast({ message: "{{ message }}", type: 'is-warning', position: "top-right", duration: 5000, closeOnClick: true, pauseOnHover: true, dismissible: true});
        </script>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock %}